{%extends 'index.html'%}
{%block contant%}

<section class="content-header"
         style="background-color:#00DCDC; padding:5px;">
    <h1>
        <b>Client Address Information</b>
    </h1>
</section>

{%for x in messages%}
<div class="callout callout-info">
    {{x}}
</div>
{%endfor%}
<hr>
{%for x in messages%}
<div class="alert alert-primary" role="alert">
  <h4>{{x}}</h4>
</div>
{%endfor%}
<section class="content">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Client Address Entry</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{%url 'clientaddressave'%}" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail2" style="padding:5px;">Client Name</label>
                            <input class="form-control" list="browse" name="cname" id="browser">
                            <datalist id="browse">
                                {%for y in client%}
                                <option value="{{y.id}}">{{y.Client_Name}}</option>
                                {%endfor%}
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" style="padding:5px;">Client Address</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Client Address"
                                   name="address">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2" style="padding:5px;">Phone</label>
                            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Client Phone"
                                   name="phone">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3" style="padding:5px;">Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Client Email"
                                   name="email">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>


        </div>
        <div class="col-md-3"></div>
    </div>
</section>


<section>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Client Information</h3>
                <a class="btn btn-primary" style="float:right; padding-right:10px;" href="{%url 'clientaddressPDF'%}" target="_blank"><i class="fa fa-print fa-1x" aria-hidden="true"></i></a>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>#</th>
                        <th>Clinet Name</th>
                        <th>Client Address</th>
                        <th>Client Phone</th>
                        <th>Client Email</th>
                        <th>Branch Code</th>
                        <th>Branch Name</th>
                        <th style="width: 40px">Edit</th>
                        <th style="width: 40px">Delete</th>
                    </tr>
                    {%for x in clients%}
                    <tr>
                        <td><b>{{forloop.counter}}</b></td>
                        <td>{{x.Client_Name.Client_Name}}</td>
                        <td>{{x.Address}}</td>
                        <td>{{x.Phone}}</td>
                        <td>{{x.Email}}</td>
                        <td>{{x.Client_Name.branch.Branch_Code}}</td>
                        <td>{{x.Client_Name.branch.Name}}</td>
                        <td><a href="{%url 'clientaddressedit' x.id%}" class="btn btn-primary"> Edit</a></td>
                        <td><a href="{%url 'clientaddressdelete' x.id%}" class="btn btn-danger"> Delete</a></td>

                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
</section>



{%endblock%}