{%extends 'index.html'%}
{%block contant%}

<section class="content-header"
         style="background-color:#00DCDC; padding:5px;">
    <h1>
       <b>Voyage Via Information</b>
    </h1>
</section>

{%for x in messages%}
<div class="callout callout-info">
    {{x}}
</div>
{%endfor%}

<section class="content">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Voyage Via Entry</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{%url 'voyageviasave'%}" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail">Voyage Via</label>
                            <input type="text" class="form-control" id="exampleInputEmail" placeholder="Voyage Via"
                                   name="voyage">
                        </div>


                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
        <div class="col-md-3"></div>
    </div>
</section>


<section>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Voyage Via</h3>
                <a class="btn btn-primary" style="float:right; padding-right:10px;" href="{%url 'voyagepdf'%}" target="_blank"><i class="fa fa-print fa-1x" aria-hidden="true"></i></a>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>#</th>
                        <th>Voyage Via</th>
                        <th style="width: 40px">Edit</th>
                        <th style="width: 40px">Delete</th>
                    </tr>
                    {%for x in voyage%}
                    <tr>
                        <td><b>{{forloop.counter}}</b></td>
                        <td>{{x.name}}</td>
                        <td><a href="{%url 'voyageedit' x.id%}" class="btn btn-primary"> Edit</a></td>
                        <td><a href="{%url 'voyagedelete' x.id%}" class="btn btn-danger"> Delete</a></td>

                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
</section>


{%endblock%}